.customOverlay{
    display: flex;
    width: 60px;
    border-radius: 5px;
    padding: 4px 0;
    color: #fff;
    align-items: center;
    text-align: center;
    background-color: #94b49f;
}

.roomText{
    width: 100%;
    font-size: 14px;
}